 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 .image
 {

    width : 100%;
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    

 }
 .image img{
    height: 300px ; 
    width: 300px ;
    border-radius: 50%;
    
 }
 #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    
  }
  h1, h2 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
    margin-top: 30vh;
  }
  @font-face {
    font-family: "vegan";
    src: url(./VeganStylePersonalUse-5Y58.ttf);
  }
  h2 { 
    font-family: "vegan";
    font-size: 2rem; 
  
  }
  .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  a {
    text-decoration: none;
  
    color: whitesmoke;
    transition: color 1s;
  }
  
  a.links:hover {
   
    color: black;
    background-color: white;
  }

  .links {
  text-align: center;
  margin-top: 20px;
  border: 1px solid whitesmoke;
  border-width: 2px;
  padding: 20px;

  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 40px;

  font-size: 18px;
}
.videos{
  width: 100% !important;
  height: auto !important;
}
@media screen and (max-width: 800px) and (orientation: portrait), screen and (max-width: 600px) and (orientation: landscape) {
  body {
    font-size: 14px;
  }
  video {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
}

